@inject Auth.AuthChecker auth
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zuiderzorg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zuiderzorg.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 bg-green">
            <div class="container">
                <button onclick="languageChange_NL()" class="language-btn NL" name="NL" asp-action="check">
>
                    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/266px-Flag_of_the_Netherlands.svg.png">
                    <script> if(Language == "NL"){Nederlands} else {Netherlands} </script>
                </button> 
                <button onclick="languageChange_EN()" class="language-btn EN" name="EN" asp-action="check">
>
                    <img class="image" src="https://people4all.nl/wp-content/uploads/2016/07/engelse-vlag.png">
                </button>
                @* <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" ClientIDMode="Static"></asp:LinkButton> *@
                <h2 id="test" runat="server">TEST</h2>

                <script>
                     public ActionResult check()
                        {
                            if(button == "EN")
                            {
                                myHeader.InnerHtml = "EN";
                            }
                            else if (button == "NL")
                            {
                                myHeader.InnerHtml = "NL";
                            }
                            return RedirectToAction("");
                        }

                    @* function languageChange_NL(){
                        var Language = "NL";
                    }
                    function languageChange_EN(){
                        var Language = "EN";
                    } *@
                </script>
                <a class="navbar-brand" asp-area="" asp-page="/Index">Zuiderzorg</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
                <a href="https://www.solnetwerk.nl/"><img class="navbar-brand float-end img-fluid" alt="" style="width: 130px; height: 60px" src="~/Images/SOL_LOGO.png"></a>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
            @RenderBody()
             <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                </div>
            </div>
            
</main>
   


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>