@inject Auth.AuthChecker auth
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zuiderzorg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zuiderzorg.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 bg-green">
            <div class="container-fluid">
            <vc:culture-switcher/>
            <div class="container">
                <button onclick="TogglePopovers()" type="button" class="btn">
                    <img class="image" src="Images/Info_icon.png">
                </button>

                <a class="navbar-brand" asp-area="" asp-page="/Index">Zuiderzorg</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <i class="bi bi-star-half" onclick="ToFavourites()" style="color:black;font-size:4vh;cursor:pointer;"></i>
                    </li>
                    @* <li class="nav-item active"> *@
                    @*     <a class="navbar-brand" asp-area="" asp-page="/Index">Zuiderzorg</a> *@
                    @* </li> *@
                    <li class="nav-item">
                        <partial name="_LoginPartial"/>
                    </li>
                    <li class="nav-item">
                        <button onclick="window.open('https://www.solnetwerk.nl/')" type="button" class="btn" data-bs-toggle="popover" data-bs-title="Placeholder" data-bs-content="placeholderplaceholderplaceholderplaceholder" data-bs-placement="right">
                            <img class="navbar-brand img-fluid" alt="" style="width: 130px; height: 60px" src="~/Images/SOL_LOGO.png">
                        </button>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            </div>
        </div>

    </main>
</div>

<script>
    function ToFavourites() {
        location.href = "http://localhost:5090/nl/favorietenpagina/favorieten";
        localStorage.setItem("location", (window.location.href).toString());
    }
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>