@using Microsoft.AspNetCore.Identity
@inject Auth.AuthChecker auth
@if (!auth){
                  
                    <li class="nav-item">
        <button type="button" class="nav-link btn btn-link text-dark" id="LoginPartial">
            Login
        </button>
    </li>
                }
                @if(auth){
                    <li class="nav-item">
                            <a class="nav-link" href="/logout">Log uit</a>
                    </li>
                }