@model CultureSwitcherModel

<div class="container">
   
    <form id="culture-switcher">
        <select name="culture" class="selectpicker" id="culture-options">

            @foreach (var culture in Model.SupportedCultures)
            {
                var name = culture.Name + ".png";
                <option    value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)" data-content="<img  style='width:30px; height:30px;' src='/images/@name'></img> @culture.DisplayName">@culture.DisplayName</option>
            }
        </select>
    </form> 
</div> 


<script>
    var segments = location.pathname.split('/');
    var el = document.getElementById("culture-options");
    el.addEventListener("change", () => {
        var culture = el.options[el.selectedIndex].value;
        if (segments.length > 2) {
            segments[1] = culture;
            location.href = segments.join('/');
        } else {
            location.href = '/' + culture + location.pathname;
        }
    });
</script>