@media screen and (max-width: 767px) {
 .row.content {
  height:auto;
 } 
}

button.Help {
 position: relative;
 margin-top: 10%;
 height: 285px;
 width: 250px;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
}

p.HelpText {
 position: relative;
 top: 50%;
 font-size: 30px;
 text-align: center;
}

button.Help:hover {
 box-shadow: 10px 10px 8px #888888;
}

button.Back {
 position: relative;
 margin-top: 5%;
 height: 285px;
 width: 250px;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
 font-size: 20px;
}

p.BackText {
 position: relative;
 top: 50%;
 font-size: 30px;
 text-align: center;
}

button.Back:hover {
 box-shadow: 10px 10px 8px #888888;
}