.container .cat_button{
  width: 30vw;
  height: 70vh;
}




.button {
  border: 4px solid black;
  color: rgb(0, 0, 0);
  background-color: white;
  width: 200px;
  height: 250px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  margin: 10px 30px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}    

.button:hover {background-color: rgb(111, 121, 114);}

.side {top: 30%; left: 2%; width: 300px; height: 400px; line-height: -300%;}
.Help {left: 1%; width: 300px; height: 200px;}

.Back {top: 20%; left: 30%;}
.Product1 {top: 20%; left: 50%;}
.Product2 {top: 20%; left: 70%;;}
.Product3 {top: 50%; left: 30%;}
.Product4 {top: 50%; left: 50%;}
.Product5 {top: 50%; left: 70%;}



.icon {
  width: 150px;
  height: 150px;
  /* position: absolute; */
  border-radius: 16px;
}

.image {
  width:150px;
  height:150px;
  /* position: absolute; */
  border-radius: 16px;
}

.image6 {}