@media screen and (max-width: 767px) {
 .row.content {
  height:auto;
 } 
}

.Category {
 position: relative;
 width: 400px;
 height: 500px;
 background-color: white;
 border-style: solid;
 border-width: 0px;
 border-color: black;
 border-radius: 8px;
 left: 100px;
}

.CategoryTitle {
 width: 400px;
 height: 100px;
 font-size: 30px;
 text-align: center;
 vertical-align: middle;
 line-height: 100px;
 background-color: #6CBF2A;
 border-radius: 8px;
}

.CategoryDescription {
 font-size: 30px;
 text-align: center;
 vertical-align: middle;
 line-height: 300px;
}

.ProductInfo {
 position: relative;
 margin-left: 3%;
 margin-top: 5%;
 width: 40vw;
 height: 73vh;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
}

#DescriptionBlock {
 position: relative;
 margin: auto;
 left: 10%;
 width: 25vw;
 height: 45vh;
 background-color: #D9D9D9;
 font-size: 4vh;
}

.DescriptionText {
 font-size: 1vw;
}

#PriceBlock {
 position: relative;
 width: 10vw;
 height: 10vh;
 top: -14%;
 background-color: #D9D9D9;
 font-size: 4vh;
 text-align: center;
 line-height: 100px;
}

#Blikopener {
 position: relative;
 float: left;
 width: 15vw;
 height: 35vh;
}

button.Help {
 position: relative;
 margin-top: 50%;
 height: 30vh;
 width: 14vw;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
}

p.HelpText {
 position: relative;
 top: 50%;
 font-size: 2vw;
 text-align: center;
}

button.Help:hover {
 box-shadow: 10px 10px 8px #888888;
}

button.Back {
 position: relative;
 margin-top: 15%;
 height: 30vh;
 width: 14vw;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
 font-size: 20px;
}

p.BackText {
 position: relative;
 top: 50%;
 font-size: 2vw;
 text-align: center;
}

button.Back:hover {
 box-shadow: 10px 10px 8px #888888;
}

button.Experience {
 position: relative;
 margin-top: 15%;
 height: 30vh;
 width: 14vw;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
 font-size: 20px;
}

p.ExperienceText {
 position: relative;
 top: 55%;
 font-size: 2vw;
 text-align: center;
}

button.Experience:hover {
 box-shadow: 10px 10px 8px #888888;
}

button.ShoppingCart {
 position: relative;
 float:left;
 left: 3%;
 margin-top: -10%;
 height: 20vh;
 width: 18vw;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
 background-color: #D9D9D9;
 font-size: 20px;
}

.ShoppingCartText {
 visibility: visible;
 position: relative;
 top: 70%;
 font-size: 3vh;
 text-align: center;
}

.ShoppingCartText2 {
 visibility: hidden;
 font-weight: bold;
 position: relative;
 top: 30%;
 font-size: 3vh;
 text-align: center;
}

button.ShoppingCart:hover {
 box-shadow: 10px 10px 8px #888888;
}

button.Buy {
 position: relative;
 left: 8%;
 margin-top: -10%;
 height: 20vh;
 width: 18vw;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
 background-color: #D9D9D9;
 font-size: 20px;
}

p.BuyText {
 position: relative;
 font-size: 3vh;
 top: 70%;
 text-align: center;
}


button.Buy:hover {
 box-shadow: 10px 10px 8px #888888;
}

p.Titel {
 position: relative;
 font-size: x-large;
}

button.Favourites {
 position: relative;
 margin-top: 50%;
 height: 285px;
 width: 250px;
 background-color: white;
 border-style: solid;
 border-width: 1.5px;
 border-color: black;
 border-radius: 8px;
}

p.HelpText {
 position: relative;
 top: 50%;
 font-size: 30px;
 text-align: center;
}

button.Help:hover {
 box-shadow: 10px 10px 8px #888888;
}
