html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 
}

/* Navbar-begin */

.bg-green {
  --bs-bg-opacity: 1;
  background-color: rgba(108, 191, 42,var(--bs-bg-opacity))!important;
}

#popover1 {
  width: 10%;
  z-index: 1000;
}

/*.popover {*/
/*  overflow:visible!important*/
/*}*/
.visible{overflow:visible!important}
/* Navbar-end */

/* Video container begin */

.bi-play-circle-fill {
  width:17%;
  height:30%;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

.bi-play-circle-fill:hover {
  color: rgb(108, 191, 42);
  cursor: pointer;
}
.bi-volume-down-fill {
  
}

.bi-volume-up-fill {
  
}

/* Video container end */

/* Next-page begin */
.border-green {
  border-color: rgb(108, 191, 42);
}

.next-page {
  margin: auto;
  width: 40%;
}

.button {
  background-color: #ddd;
  width: 99%;
  height: 100px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 50px;
}
/* Next-page end */

.slider {
  padding: 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 30px; /* Specified height */
  background: #FFFFFF; /* white background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 2px;
  box-shadow: black;
  border-width: 3px;
  border-color: rgb(108, 191, 42);
  border-style: solid;

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(108, 191, 42); /* Green background */
  cursor: pointer; /* Cursor on hover */
  /*border-radius: 2px;*/
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(108, 191, 42); /* Green background */
  cursor: pointer; /* Cursor on hover */
  /*border-radius: 2px;*/
}

.button__white{
  background-color: #FFFFFF;
  border-color: black;
  box-shadow: 0 1px 3px 0 black;
  padding: 0.50rem;
  }


.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;

  
}

@media (min-width:320px)  {
  .text-small-center{
    text-align: center;
  }
  .d-small-flex{
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
  }
  .ml-small{
    margin-left: 0;
  }
}
@media (min-width:961px)  {
  .text-small-center{
    text-align: left;
  }
  .d-small-flex{
    display: block;
  }
  .ml-small{
    margin-left: 1.5rem;
  }
}

