@page
@model ContactModel

<head>
    <link href="~/css/ContactStyle.css" rel="stylesheet"/>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <div class="container contact">
        <div class="buttons">
            <div class="Basic-buttons">
                <button class="Basic" onclick="document.location='/index'"> <img src="/images/CatagoryIcons/BackIcon.png" height=100 width=100 /><br /> <strong>Terug</strong></button>
            </div>
            <div class="Basic-buttons">
                <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')">  <img src="/images/CatagoryIcons/InfoIcon.png" height=150 width=150 /><br /> <strong>Vraag om hulp</strong></button>
            </div>
        </div>
    <form action="mailto:daan0902@gmail.com" method="post" enctype="text/plain">
    @* <form onsubmit="sendEmail(); reset(); return false;"> *@
    @* <form action="https://formsubmit.co/0dc827a606e971845ab40e1c00e4b478" method="POST" reset(); return false();>
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_autoresponse" value="Bedankt voor uw bericht!"> *@
        <div class="form-container">
            <h1>Contact Form</h1>
            
            <div class="form-group">
                <label for="name">Naam</label>
                <input type="text" class="form-control" id="name" placeholder="Naam" name="Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="E-mail" required>
            </div>
            <div class="form-group">
                <label for="telnum">Telefoon nummer</label>
                <input type="number" class="form-control" id="telnum" placeholder="Telefoon nummer" name="Telefoon nummer">
            </div>
            <div class="form-group">
                <label for="bericht">Hier uw bericht</label>
                <textarea class="form-control" id="bericht" name="Bericht" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary align-self-end mt-2"> 
                    Verstuur 
                    <i class="bi bi-send"></i>
                </button>
        </div>
    </form>
    <div class="text-container">
            <p>Naam: <br> SOL</p>
            <p>Hoofdlocatie SOL: <br> Schommelstraat 69 <br> 3035 CG Rotterdam</p>
            <p>Email: <br> info@solnetwerk.nl</p>
            <p>Telefoon nummer: <br>010 – 2448240</p>
                
        </div>
    </div>
    
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script> 
        function sendEmail(){
            Email.send({
                Host : "smtp.gmail.com",
                Username : "daan0902@gmail.com",
                Password : "Drumdrum123!",
                To : 'daan0902@gmail.com',
                From : document.getElementById("email").value,
                Subject : "Een nieuwe email",
                Body : "Naam: " + document.getElementById("name").value
                    + "<br> Email: " + document.getElementById("email").value
                    + "<br> Telefoon nummer: " + document.getElementById("telnum").value
                    + "<br> Bericht: " + document.getElementById("bericht").value
            }).then(
            message => alert(message)
            );
        }
    </script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}