@page
@model zuiderzorg.Pages.Product_Select_PageModel
@{
}

<head>

    <style>


        button.Basic {
            background-position: center center;
            position: relative;
            height: 300px;
            width: 275px;
            border: 3px solid;
            background-color: white;
            border-radius: 12px;
            margin-bottom: 20px;
            margin-left: 40px;
        }

            button.Basic:hover {
                box-shadow: 10px 10px 8px #888888;
            }

        button.HelpButton {
            background-position: center center;
            position: relative;
            height: 100px;
            width: 200px;
            border: 3px solid;
            background-color: white;
            border-radius: 12px;
            margin-bottom: 20px;
            margin-left: 40px;
        }

            button.HelpButton:hover {
                box-shadow: 10px 10px 8px #888888;
            }

        button.NestedButton {
            background-position: center center;
            position: relative;
            height: 470px;
            width: 250px;
            border: 3px solid;
            background-color: white;
            border-radius: 12px;
            margin-bottom: 20px;
            margin-left: 40px;
        }
    </style>
</head>

<body style="background-color: #F9EFEF">
    <div style="position:absolute; left:100px; top:150px;">
        <button class="Basic" onclick="document.location='/index'"> <img src="/images/BackIcon.png" height=100 width=100 /><br /> <strong>Terug</strong></button>
        <br />
        <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')">  <img src="/images/InfoIcon.png" height=150 width=150 /><br /> <strong>Vraag om hulp</strong></button>
    </div>

    <div style="position:absolute; right:100px; top:150px;">

        <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/TVIcon.png" height="150" width="150" /><br /> <strong>Woonkamer</strong></button>
        <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/KitchenIcon.png" /><br /> <strong>Keuken</strong></button>
        <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/BedIcon.png" /><br /> <strong>Slaapkamer</strong></button>
        <br />
        <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/ShowerIcon.png" /><br /> <strong>Badkamer</strong></button>
        <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')"> <img src="/images/PlusIcon.png" height=100 width=100 /><br /> <strong>Toevoegen</strong></button>

    </div>

</body>
