@page
@model zuiderzorg.Pages.Product_Select_PageModel
@{
}

<head>
    <link href="~/css/CategoryStyle.css" rel="stylesheet"/>
</head>

<body style="background-color: #F9EFEF">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <container class="cont">
        <div class="row">
            <div class="col">
                <button class="Basic" onclick="document.location='/index'"> <img src="/images/CatagoryIcons/BackIcon.png" height=100 width=100 /><br /> <strong>Terug</strong></button>
                <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/CatagoryIcons/TVIcon.png" height="150" width="150" /><br /> <strong>Woonkamer</strong></button>
                <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/CatagoryIcons/KitchenIcon.png" /><br /> <strong>Keuken</strong></button>
                <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/CatagoryIcons/BedIcon.png" /><br /> <strong>Slaapkamer</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')">  <img src="/images/CatagoryIcons/InfoIcon.png" height=150 width=150 /><br /> <strong>Vraag om hulp</strong></button>
                <button class="Basic" onclick="document.location='/productenselectie'"> <img src="/images/CatagoryIcons/ShowerIcon.png" /><br /> <strong>Badkamer</strong></button>
                <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')"> <img src="/images/CatagoryIcons/PlusIcon.png" height=100 width=100 /><br /> <strong>Toevoegen</strong></button>
            </div>
        </div>
    </container>

</body>
