@page
@model ProductenSelectie

<h1>@ViewData["Title"]</h1>

<head>
    <link href="~/css/ProductenSelectieStyle.css" rel="stylesheet"/>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <div class="col-auto">
        @* <div class="container-fluid position-relative"> *@
        <button class="button side">Categorie:Huiskamer</button>
        <i class="bi bi-house" style="font-size:70px;color:#6CBF2A;position:absolute;left:24%;"></i>
        @* </div> *@
        <button class="button buttonProduct1">Terug</botton>
        <i class="bi bi-arrow-90deg-left" style="font-size:70px;color:#6CBF2A;position:absolute;left:40%;top:10%"></i>

        <button class="button buttonProduct2">Trill wekker</botton>
        <button class="button buttonProduct3">Bejaardenbestek</botton>
        <p>
        <button class="button buttonHelp">Druk voor help</button>
        <i class="bi bi-info-circle" style="font-size:70px;color:#6CBF2A;position:absolute;left:24%;"></i>
        <button class="button buttonProduct4">Lamp bel</botton>
        <budonttton class="button buttonProduct5">GPS tracker</botton>
        @* <div class="container-fluid position-relative"> *@
        <botton class="button buttonAdd">Blik Opener</botton>
        <img class="image image6 position-absolute" src="https://ct-res.cloudinary.com/images/f_auto,q_auto:good,w_700/images/c94623f77b935e9ecb2fb4c5f3b39535/gourmetmaxx-elektrische-blikopener-0001732683.jpg" alt="blikopener foto">
        @* </div> *@
    @* </center> *@
        </p>
        @* <div class="container-fluid position-relative"></div> *@
        
        @* </div> *@
</div>


</body>