@page
@using zuiderzorg.Models
@model ProductenSelectie

<h1>@ViewData["Title"]</h1>
<head>
    <link href="~/css/CategoryStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <container class="cont">
        <div class="row">
            <div class="col-sm-3">
                <button class="Basic" onclick="document.location='/Product_Select_Page'"> <img src="/images/CatagoryIcons/BackIcon.png" height=100 width=100 /><br /> <strong>Terug</strong></button>
                <button class="Basic" onclick="JavaScript:alert('This button is under construction, please remain calm.')">  <img src="/images/CatagoryIcons/InfoIcon.png" height=150 width=150 /><br /> <strong>Vraag om hulp</strong></button>
            </div>
            <div class="col-sm-9" id="buttonsContainer" runat="server">
                @{
                    var db = new CategoryContext();
                    var CatInfo = db.Products.Where(x=>x.ParentCategoryId==Guid.Parse(Request.Cookies["CategoryId"])).ToArray();
                    foreach(var item in CatInfo)
                    {
                    <button class="Basic" onclick="document.location='/productpagina/product'"> <img src="/images/CatagoryIcons/InfoIcon.png" height=100 width=100 /><br /> <strong>@item.Name</strong> </button>
                    }
                }
                <button class="Add" onclick="openForm()"><img src="/images/CatagoryIcons/PlusIcon.png" height=100 width=100 /><br /><strong>Toevoegen</strong></button>
            </div>
        </div>
    </container>
    <div class="form-popup" id="myForm">
        <div class="center">
            <form class="form-container" method="post" onsubmit="GetID()">
                <div asp-validation-summary="ModelOnly">
                </div>
                <h1>Toevoegen</h1>
                <label for="ProductRequest.Name"><b>Titel</b></label>
                <input for="ProductRequest.Name" type="text" placeholder="Vul een naam in" name="ProductTitle" required>
                <span asp-validation-for="ProductRequest.Name"> </span>

                <input for="ProductRequest.ParentCategoryId" type="hidden" placeholder="De Id van de hogere categorie" name="CategorieID" id="CategorieID" value="1" required>
                @*<span asp-validation-for="ProductRequest.ParentCategoryId"> </span>*@

                <button type="submit" class="btn">Toevoegen</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Annuleren</button>
            </form>
        </div>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function GetID(){
            var fr = document.getElementById("CategorieID");
            return fr.value = localStorage.getItem('CategoryId');
        }
    </script>



</body>