@page
@model zuiderzorg.Pages.Product_Select_PageModel
@{
}

<head>
    <style>
    button.Basic {
        background-position: center center;
        position: relative;
        height: 300px;
        width: 275px;
        border: 3px solid;
        border-width: right;
        background-color: white;
        border-radius: 12px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    button.Basic:hover {
        box-shadow: 10px 10px 8px #888888;
    }
    button.HelpButton {
        background-position: center center;
        position: relative;
        height: 100px;
        width: 200px;
        border: 3px solid;
        border-width: right;
        background-color: white;
        border-radius: 12px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    button.HelpButton:hover {
        box-shadow: 10px 10px 8px #888888;
    }
    button.NestedButton {
        background-position: center center;
        position: relative;
        height: 470px;
        width: 250px;
        border: 3px solid;
        border-width: right;
        background-color: white;
        border-radius: 12px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    </style>
</head>

<body>
    <div style = "position:absolute; left:550px; top:150px;" >
        <a href="/Index">
            <button class="Basic"> <img src="https://toppng.com/uploads/preview/back-arrow-11550122000nolwbx6k5y.png" height=100 width=100/><br /> <strong>Back</strong></button>
        </a>
        
        <a href="/product">
            <button class="Basic"> <img src="https://cdn-icons-png.flaticon.com/512/1010/1010398.png" height=100 width=100/><br /> <strong>Living Room</strong></button>
        </a>
        <a href="/product">
            <button class="Basic"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpvlM6wdMcrrdJgCfXPccKAiWkz_f5Z3MHgQ&usqp=CAU" height=100 width=100/><br /> <strong>Kitchen</strong></button>
        </a>
        
        <br>
        <a href="/product">
            <button class="Basic"> <img src="https://cdn-icons-png.flaticon.com/512/4312/4312464.png" height=100 width=100/><br /> <strong>Bed Room</strong></button>
        </a>
        
    </div>
    <div style = "position:absolute; left:200px; top:150px">
        <button class="NestedButton"> 
            <details>
                  <summary>Living Room</summary>
                  Chair<br />
                  Cat
            </details>
            <details>
                  <summary>Kitchen</summary>
                  Kettle<br />
                  Knife
            </details>
            <details>
                  <summary>Bed Room</summary>
                  Pillow<br />
                  Sounds
            </details>
        </button>
    </div>
    <div style = "position:absolute; left:200px; bottom:100px;">
        <button class="HelpButton" onclick="JavaScript:alert('This button is under construction, please remain calm.')"> <strong>Ask for help</strong></button>
    </div>
    
</body>
