@page
@model BlikModel
@{
    ViewData["Title"] = "Blikopener";
}
<h1>@ViewData["Title"]</h1>

<head>
<style>
#Blikopener {
    width: 400px;
    height: 500px;
    float: left;
}

span.Info {
    position: relative;
    height: 200px;
    width: 200px;
    top: 0px;
    left: 0px;
    border: 3px solid #73AD21;
    border-width: right;
}
span.Experience {
    position: relative;
    height: 200px;
    width: 200px;
    top: 0x;
    left: 0px;
    border: 3px solid #73AD21;
    border-width: right;
}
span.ShoppingCart {
    position: relative;
    height: 200px;
    width: 200px;
    top: 0px;
    left: 0px;
    border: 3px solid #73AD21;
    border-width: small;
}
span.Buy {
    position: relative;
    height: 200px;
    width: 200px;
    top: 0px;
    left: 0px;
    border: 3px solid #73AD21;
    border-width: small;
}
</style>
</head>

<body>
<span class="Info"> Informatie</span>
<span class="Experience"> Ervaringen van anderen</span>
<span class="ShoppingCart"> In winkelmandje plaatsen</span>
<span class="Buy"> Product Kopen</span>
<img id="Blikopener" src="https://www.wibra.nl/wp-content/uploads/sites/3/2022/02/17570058-000-01.png" alt="BlikopenerFoto">
</body>
