@page
@model BlikModel
@{
    ViewData["Title"] = "Blikopener";
}
<h1>@ViewData["Title"]</h1>

<head>
<style>
div.relative {
    position: relative;
    width: 150px;
    left: 900px;
    border: 3px solid #73AD21;
    border-width: small;
}
</style>
</head>

<p>Wilt u een blikopener kopen?</p>
<div class="relative"> Product Kopen</div>
<img src="https://www.wibra.nl/wp-content/uploads/sites/3/2022/02/17570058-000-01.png" alt="BlikopenerFoto" width="400" height="500">
