@page
@model BlikModel
@{
    ViewData["Title"] = "Blikopener";
}
<h1>@ViewData["Title"]</h1>


<p>Wilt u een blikopener kopen?</p>
<img src="https://www.wibra.nl/wp-content/uploads/sites/3/2022/02/17570058-000-01.png" alt="BlikopenerFoto" width="400" height="500">
