@page
@model ProductenSelectie

<h1>@ViewData["Title"]</h1>

<head>
    <link href="~/css/ProductenSelectieStyle.css" rel="stylesheet"/>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <div class="container productenselectie">
            
            <category class="categorie" style="grid-column-start:1;grid-column-end:5;">
            <i class="bi bi-house" style="font-size:70px;color:#6CBF2A;position:absolute;left:50%;"></i>
            </category> 

            <button class="button side"> 
                <i class="bi bi-arrow-90deg-left" style="font-size:70px;color:#6CBF2A;position:absolute;"></i>
                Back
            </button>
            
            
            <button class="button Product1">Trilbed</button>
            
            <button class="button Product2">Trill wekker</button>
            <button class="button Product3">Bejaarden bestek</button>

            <button class="button Help">Druk voor help</button>
            
            <i class="bi bi-info-circle" style="font-size:70px;color:#6CBF2A;position:absolute;left:12%;top:64%;"></i>
            <button class="button Product4">Lamp bel</button>
            <button class="button Product5">GPS tracker</button>
        @* <div class="container-fluid position-relative"> *@
            <button class="button Add">Blik Opener</button>
            <img class="image image6 position-absolute" src="https://ct-res.cloudinary.com/images/f_auto,q_auto:good,w_700/images/c94623f77b935e9ecb2fb4c5f3b39535/gourmetmaxx-elektrische-blikopener-0001732683.jpg" alt="blikopener foto" style="top:65%; left:73%;">
            
        </div>
</body>