@page
@model BlikModel

<head>
    <link href="~/css/ProductStyle.css" rel="stylesheet"/>
</head>

<body style="background-color:#E9E2E2;">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <div class="das">
        <div class="row flex-row">
            <div class="col">
                <div class="button1">
                    <button class="Back" onclick="GoBack()">
                    <p class="BackText">Terug</p>
                    <i class="bi bi-arrow-return-left" style="font-size:6vw;color:#6CBF2A;position:relative;top:-20%"></i>
                </button>
                </div>
                <div class="button2">
                    <button class="Help" onclick="Help()">
                    <p class="HelpText">Klik hier voor hulp</p>
                    <i class="bi bi-question-circle" style="font-size:6vw;color:#6CBF2A;position:relative;top:-40%"></i>
                </button>
                </div>
            </div>
            <div class="col-7">
                <div class="ProductInfo">
                    <div class="image">
                        <img id="Blikopener" src="https://www.wibra.nl/wp-content/uploads/sites/3/2022/02/17570058-000-01.png" alt="BlikopenerFoto">
                    </div>
                    <div id="DescriptionBlock">Blikopener
                        <p class="DescriptionText">Blikopener met een afmeting van 20 x 4,2cm. Gemaakt van roestvrij staal (RVS).</p>
                    </div>
                    <div id="PriceBlock">€2,79</div>
                    <div class="button1">
                        <button class="ShoppingCart" onclick="FavouritesToggle()">
                        <div class="ShoppingCartText">In favorieten plaatsen</div>
                        <div class="ShoppingCartText2">In favorieten geplaatst</div>  
                        <i class="bi bi-star" style="font-size:6vw;color:#6CBF2A;position:relative;top:-90%;visibility:visible"></i>
                        <i class="bi bi-star-fill" style="font-size:6vw;color:#6CBF2A;position:relative;top:-90%;visibility:hidden"></i>
                    </button>
                    </div>
                    <div class="button2">
                        <button type="button" class="btn Buy" data-bs-toggle="modal" data-bs-target="#Popup" value="Buy" onclick="ClickedButton(value)">
                        <p class="BuyText">Naar productpagina</p>
                        <i class="bi bi-shop" style="font-size:6vw;color:#6CBF2A;position:relative;top:-50%;"></i>
                    </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="button" class="btn Experience" data-bs-toggle="modal" data-bs-target="#Popup" value="Experience" onclick="ClickedButton(value)">
                <p class="ExperienceText">Ervaringen van anderen</p>
                <i class="bi bi-play-circle" style="font-size:6vw;color:#6CBF2A;position:relative;top:-40%;"></i>
                </button>
            </div>
            <div class="modal fade" id="Popup" tabindex="-1" aria-labelledby="LeavePopup" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Wilt u de website verlaten?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Als u op "Doorgaan" klikt gaat u door naar de pagina. De pagina is op een andere website en u wordt dus doorgestuurd. Als u de pagina niet wilt verlaten kunt u op "Terug" drukken.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terug</button>
                            <button type="button" class="btn btn-primary" onclick="ToPage()">Doorgaan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>


<script>
    var Nextlocation = {};

    function GoBack() {
        location.href = "/index.html";
    }

    function ToPage() {
        location.href = Nextlocation;
    }

    function ClickedButton(arg) {
        Nextlocation = "";
        if (arg == "Buy") {
            Nextlocation = "https://www.wibra.nl/assortiment/blikopener-rvs/";
        } else {
            Nextlocation = "https://www.youtube.com/watch?v=BWmBov6O0BA";
        }
    }

    function FavouritesToggle() {
        var star = document.getElementsByClassName("bi bi-star");
        var starfill = document.getElementsByClassName("bi bi-star-fill");

        var text = document.getElementsByClassName("ShoppingCartText");
        var text2 = document.getElementsByClassName("ShoppingCartText2");

        visible = star[0].style.visibility;

        if (visible == "visible") {
            if(star[0].offsetWidth > 0 && star[0].offsetHeight > 0) {
                star[0].style.visibility = "hidden";
                text[0].style.visibility = "hidden";
            }
            if(starfill[0].offsetWidth > 0 && starfill[0].offsetHeight > 0) {
                starfill[0].style.visibility = "visible";
                text2[0].style.visibility = "visible";
            }
            AddFavourites();
        } else {
            if(star[0].offsetWidth > 0 && star[0].offsetHeight > 0) {
                star[0].style.visibility = "visible";
                text[0].style.visibility = "visible";

            }
            if(starfill[0].offsetWidth > 0 && starfill[0].offsetHeight > 0) {
                starfill[0].style.visibility = "hidden";
                text2[0].style.visibility = "hidden";
            }
            DeleteFavourites();
        }
    }


    function AddFavourites() {
        var storagelength = (Object.keys(localStorage)).length;
        storagenew = storagelength += 1;
    
        const product = {
            name: document.getElementById("DescriptionBlock").innerHTML,
            image: document.getElementById("Blikopener").src,
            href: "https://www.wibra.nl/assortiment/blikopener-rvs/", 
            price: document.getElementById("PriceBlock").innerHTML
        }

        localStorage.setItem(storagenew, JSON.stringify(product));
    }

    function DeleteFavourites() {
        for (var i = localStorage.length; i > 0; i--) {
            localStorage.removeItem(localStorage.key("i"));
            break;
        }
    }

    function StarFill(object) {
        if (object.name == document.getElementById("DescriptionBlock").innerHTML) {
            var star = document.getElementsByClassName("bi bi-star");
            var starfill = document.getElementsByClassName("bi bi-star-fill");
            var text = document.getElementsByClassName("ShoppingCartText");
            var text2 = document.getElementsByClassName("ShoppingCartText2");

            star[0].style.visibility = "hidden";
            text[0].style.visibility = "hidden";
            starfill[0].style.visibility = "visible";
            text2[0].style.visibility = "visible";
        }
    }


    window.onload = function () { 
        var values = [],
        keys = Object.keys(localStorage),
        len = keys.length;

        while ( len-- ) {
            values.push(JSON.parse(localStorage.getItem(keys[len])));
        }

        values.forEach(StarFill);
    };

</script>



