@page
@model BlikModel
@{
    ViewData["Title"] = "Blikopener";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="./ProductPagina/Product.css" asp-append-version="true"/>
</head>

<body>
<button class="Info"> Informatie</button>
<button class="Experience"> Ervaringen van anderen</button>
<button class="ShoppingCart"> In winkelmandje plaatsen</button>
<button class="Buy"> Product Kopen</button>
<img class="Blikopener" src="https://www.wibra.nl/wp-content/uploads/sites/3/2022/02/17570058-000-01.png" alt="BlikopenerFoto">
</body>
